################################################################################
# Данный GITIGNORE-файл был автоматически создан Кротиковым
################################################################################

*.cbp
*.depend
*.layout
obj/
bin/
